<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Atm bean definition -->
	<bean id="atm" class="com.spring.model.IciciAtm" init-method="init"
		destroy-method="destroy">

		<property name="welcomemsg" value="Welcome to Icici bank Atm" />
	</bean>
</beans>